h1{
    text-align: center;
    background-color: rgb(136, 220, 120);
}
p {
    text-align: center;
    }
body{
    background-color: rgb(255, 255, 255);
}
.imagem{
    text-align: center;
}
